.everything {
  
}

.mainContainer {
    width: 100%;
    min-height: 1100px;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    /* align-items: center; */
    /* background-color: azure; */
}

.mainContent {
    min-width: 1600px;
    max-width: 1600px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.tab_links {
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid #ddd;
  }
  
  .tab {
    background-color: antiquewhite;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #444;
    font-weight: 500;
  }
  
  .tab:hover {
    color: #000;
  }
  
  .active {
    border-bottom: 2px solid blue;
    color: blue;
  }

  .tabWrapper {
    /* Me no like right now */
    width: 100%;
    /* max-width: 1600px; */
    margin: 0 auto;
    padding: 1rem 0;
    display: inline-flex;
    justify-content: center;
  }

  .frontMain {
    width: 65%;
    /* height: 500px; */
    background-color: aqua;
}

.frontSide {
    width: 20%;
    height: 500px;
    background-color: aqua;
}