.everything {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    background-color: #a27878;
    min-height: 150rem;
  }
  
  .postWrapper {
    background-color: #532ab2;
    margin: 3rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }

  .postWrapper:first-child {
    margin: 0rem 1rem;
  }
  
  .postContainer {
    display: flex;
    margin: 1rem;
    padding: 1rem;
  }
  
  .user_Container {
    width: 8rem;
    text-align: center;
    border-right: 1px solid #ddd;
    padding-right: 1.5rem;
  }
  
  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: .5rem;
    margin-bottom: 0.25rem;
  }
  
  .username {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  
  .title {
    font-size: 1rem;
    color: #961515;
    margin-bottom: 0.25rem;
  }
  
  .stats {
    font-size: 0.8rem;
    color: #971919;
    text-align: center;
    /* margin-top: 1rem; */
  }
  
  .content_Container {
    flex: 1;
    padding: 1.5rem;
    margin-left: 1.5rem;
    background-color: antiquewhite;
    border-radius: 1rem;
  }
  
  .postHeader {
    font-size: 0.8rem;
    /* color: #888; */
    margin-bottom: 0.5rem;
  }
  
  .postDate {
    font-style: italic;
    color: red;
  }
  
  .postBody {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    white-space: pre-wrap;
  }
  