body{
    /* color scheme */
    --primary-background-color: #050505;
    --secondary-background-color:#5b13a4;
    --light-background-color: #FAFAFA;
    --text-color: #FAFAFA;
    --light-text-color: #350c61;
    --button-background-color: #8f35e8;
    --button-text-color: #FAFAFA;
    --button-hover-background-color: var(--secondary-background-color);
    --button-hover-text-color: #595959;
    --button-border-color: #ccc;
    --link-color: #8f35e8;
    --link-hover-color: var(--text-color);
    /* font */
    --font-family:'Trebuchet MS', sans-serif;
    /* break points */
    --mobile: 768px;
    --tablet: 1024px;
    /* border */
    --border-radius: 8px;
    --border-color: #595959;
    /* shadow */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}