.navbar {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
  }

.navLogo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navSearch {
    display: flex;
    align-items: center;
}

.searchForm {
    display: flex;
    justify-content: center;
}

.searchInput {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.searchInput:focus {
    outline: none;
    border: 1px solid #ddd;
}

.navAccount {
    width: 10rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.profile_active {
    width: 0px;
}

.logRegister {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.null_login {
    float: left;
}

.null_register {
    float: right;
}